* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    width: 100%;
}

.row {
    &::after,
    &::before {
        display: table;
        content: '';
        clear: both;
    }
}

$columnsCount: 12;
$breakpoint: 420px;
@for $i from 1 through $columnsCount {
    .col-#{$i} {
        width: (100%/$columnsCount)*$i;
    }
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    @media (max-width: $breakpoint) {
        float: none;
        width: 100%;
    }
}

body {
    font-family: 'Raleway', sans-serif;
}

span {
    color: rgb(36, 186, 159);
    font-weight: 700;
}


/*HEADER*/

header {
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    p {
        float: left;
        padding: 10px 0 0 5px;
        @media (min-width: $breakpoint) {
            padding: 14px 0 7px 0;
            font-size: 0.84em;
            font-weight: 500;
            letter-spacing: 1px;
        }
    }
    #show-hide-menu {
        background-image: url(../images/hamb1.png);
        height: 40px;
        background-size: cover;
        width: 55px;
        float: right;
        @media (min-width: $breakpoint) {
            display: none;
        }
    }
    ul {
        display: none;
        @media (min-width: $breakpoint) {
            display: block;
            text-align: right;
            li {
                display: inline-block;
                padding: 14px 0 8px 45px;
                a {
                    color: white;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 0.85em;
                    letter-spacing: 1px;
                }
            }
        }
    }
}


/*SECTION 1 */

.first {
    background: -webkit-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(207, 206, 211) 100%);
    background: -o-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(207, 206, 211) 100%);
    background: -ms-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(207, 206, 211) 100%);
    background: -moz-linear-gradient(top, rgb(247, 247, 247) 0%, rgb(207, 206, 211) 100%);
    background: linear-gradient(to bottom, rgb(247, 247, 247) 0%, rgb(207, 206, 211) 100%);
}

.inner-container {
    display: flex;
    margin-top: 20px;
}

.col1 {
    color: rgb(36, 186, 159);
    width: 10%;
    line-height: 240px;
    padding: 8px;
    font-weight: 800;
    @media (min-width: $breakpoint) {
        display: none;
    }
}

.slideLeft {
    line-height: 515px;
    font-size: 5rem;
    font-weight: 300;
    color: rgb(36, 186, 159);
    @media (max-width: $breakpoint) {
        display: none;
    }
}

.slideRight {
    @extend .slideLeft;
    padding-left: 51px;
}

.blackChair {
    height: 295px;
    background-size: cover;
    background-position-x: center;
    background-image: url(../images/black_chair.png);
    @media (min-width: $breakpoint) {
        width: 100%;
        margin-top: 55px;
        height: 428px;
        background-position: center;
    }
}

@media (max-width: $breakpoint) {
    .order {
        order: 2;
    }
}

.col-6 {
    h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 15px auto;
        font-size: 2rem;
        font-weight: 600;
        strong {
            color: rgb(36, 186, 159);
        }
        @media (min-width: $breakpoint) {
            margin-top: 135px;
            font-size: 2.5rem;
            padding-right: 22px;
        }
    }
    .description {
        text-align: center;
        line-height: 25px;
        font-size: 0.9rem;
        font-weight: 500;
        padding-top: 15px;
        @media (min-width: $breakpoint) {
            font-weight: 500;
            word-spacing: 10px;
            line-height: 21px;
            padding: 10px 15px;
        }
    }
}

.linkButt {
    font-weight: 600;
    margin: 30px auto;
    font-size: 24px;
    padding: 12px 36px;
    background-color: #24ba9f;
    border-radius: 10px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border: none;
    display: flex;
    a {
        text-decoration: none;
        color: white;
    }
}


/*SECTION 2 */

.second {
    background-color: #FFF;
    @media (min-width: $breakpoint) {
        height: 353px;
        padding-top: 27px;
    }
}

.visible {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 65px;
    top: 171px;
    @media (min-width: $breakpoint) {
        height: 62px;
        top: 149px;
    }
    p {
        font-weight: 700;
        padding: 15px 0 0 14px;
        &:after {
            content: ' ';
            display: block;
            border: 3px solid rgb(41, 201, 175);
            width: 140px;
        }
    }
}

.clair {
    background-image: url(../images/box1_img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 250px;
    margin: 10px 0;
    position: relative;
    @media (min-width: $breakpoint) {
        background-size: 95% 90%;
        margin: 0 10px 0 0;
    }
}

.margarita {
    @extend .clair;
    background-image: url(../images/box2_img.jpg);
}

.redChair {
    background-image: url(../images/red_chair.png);
    height: 200px;
}

.inputs {
    padding: 10px 18px 10px;
    text-align: left;
    border: 1px solid rgb(218, 218, 218);
    @media (min-width: $breakpoint) {
        width: 31%;
        height: 259px;
    }
    h4 {
        font-size: 1rem;
        padding-top: 15px;
        font-weight: 700;
        &:after {
            content: ' ';
            display: block;
            border: 3px solid rgb(41, 201, 175);
            width: 140px;
        }
    }
    p {
        font-size: 0.8rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.5);
        line-height: 20px;
    }
}


/*SECTION 3*/

.third {
    background-color: rgb(241, 241, 241);
    height: 725px;
    h3 {
        padding-top: 35px;
        line-height: 37px;
        text-transform: uppercase;
        font-size: 1.4rem;
        &:after {
            content: ' ';
            display: block;
            border: 4px solid rgb(41, 201, 175);
            width: 320px;
        }
    }
    button {
        padding: 7px 25px;
        margin: 0 auto;
        display: block;
        margin-top: 388px;
        font-weight: 500;
        border: none;
        background-color: #24ba9f;
        border-radius: 10px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        a {
            text-decoration: none;
            color: white;
            font-size: 17px;
        }
    }
}

.circle {
    position: absolute;
    left: 41%;
    top: -36px;
    border-radius: 50%;
    border: 2px solid darkgrey;
    background-color: white;
    .pointer {
        border: 13px solid darkgrey;
        border-radius: 50%;
        margin: 14px;
    }
}

.padRight {
    padding-right: 15px;
}

.pad {
    padding: 0 10px;
}

.padLeft {
    padding-left: 15px;
}

.pricePlan {
    background-color: rgb(249, 249, 249);
    border: 2px solid darkgrey;
    height: 500px;
    position: relative;
    h1 {
        margin-top: 26px;
        text-align: center;
        font-weight: 600;
        font-size: 25px;
        color: rgb(36, 186, 159);
        letter-spacing: -1px;
    }
    @media (min-width: $breakpoint) {
        margin-top: 74px;
    }
}

table {
    position: absolute;
    top: 245px;
    width: 100%;
    background-color: rgb(228, 228, 228);
    th,
    td {
        font-size: 23px;
        text-align: center;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}